{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@images": "./src/images",
          "@utils": "./src/utils",
          "@customDecorators": "./src/stories/custom-decorators",
          "@styles": "./src/css"
        }
      }
    ]
  ]
}
